.DS_Store
node_modules/
*.env
gmail_secret.json
docs/
example
**/.venv
__pycache__/
*.pyc
codebase/backend/credentials/*.json
codebase/backend/transcripts/*.json
.run/
codebase/backend/*.sqlite
codebase/backend/*.sqlite-shm
codebase/backend/*.sqlite-wal
